<header class="header" data-scroll-index="0">

    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg border-none bg-light-gray">
        <div class="container sm-padding-10px-tb sm-padding-15px-lr">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);" data-scroll-nav="0">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-scroll-nav="1">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-scroll-nav="2">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-scroll-nav="3">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-scroll-nav="4">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-scroll-nav="5">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-scroll-nav="6">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- end navbar links -->
        </div>

    </nav>
</header>

<nav class="navbar navbar-expand-lg border-none bg-light-gray desktop-hide">
    <div class="container sm-padding-10px-tb sm-padding-15px-lr">

        <!-- start logo -->
        <a class="logo" href="javascript:void(0);" data-scroll-nav="0">
            <img src="" alt="Ashton - One Page Portfolio" title="Ashton - One Page Portfolio">
        </a>
        <!-- end Logo -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse desktop-hide" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);" data-scroll-nav="0">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="1">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="2">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="3">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="4">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="5">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="6">Contact</a>
                </li>
            </ul>
        </div>
        <!-- end navbar links -->

    </div>

    <a href="javascript:void(0)" class="sidemenu_btn sm-display-none" id="sidebar_toggle">
        <span></span> <span></span> <span></span>
    </a>

</nav>

<!-- Start Sidemenu -->
<div class="side-menu side-menu-active left-panel">
    <div class="inner-wrapper">

        <!-- Start Profile Pic -->
        <div class="profile-pic margin-15px-bottom">
            <img src="../../../content/images/yo.jpg" class="rounded-circle" style="max-width: 110%"/>
        </div>
        <!-- End Profile Pic -->

        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-15px-bottom"></div>

        <!-- Start Side Nav -->
        <nav class="side-nav width-100">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);" data-scroll-nav="0">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="1">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="2">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="3">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="4">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="5">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-scroll-nav="6">Contact</a>
                </li>
            </ul>
        </nav>
        <!-- End Side Nav -->

        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-15px-bottom"></div>

        <!-- Start Side Footer -->
        <div class="side-footer width-100">
            <ul class="profile-list">
                <li><strong>Email:</strong> my@email.com</li>
                <li><strong>Phone:</strong> + 123 456 789 234</li>
                <li><strong>Skype:</strong> Inesa.Doe</li>
            </ul>
        </div>
        <!-- End Side Footer -->

    </div>
</div>
